* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins-R";
  src: url(Inter-Regular.otf);
}
@font-face {
  font-family: "Poppins-B";
  src: url(Inter-Bold.otf);
}
.polzunok {
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.polzunok .news {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.polzunok .news .kaka {
  width: 80%;
}
.polzunok .news .kaka .sec1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.polzunok .news .kaka .sec1 img {
  width: 410px;
  height: 300px;
}
.polzunok .news .kartinki {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.polzunok .news .kartinki .sec2 {
  display: flex;
  flex-direction: column;
}
.polzunok .news .kartinki .sec2 img {
  width: 410px;
  height: 300px;
}
.polzunok .news .kartinki .sec3 {
  display: flex;
  flex-direction: column;
}
.polzunok .news .kartinki .sec3 img {
  width: 410px;
  height: 300px;
}
.polzunok .news .kartinki .sec4 {
  display: flex;
  flex-direction: column;
}
.polzunok .news .kartinki .sec4 img {
  width: 410px;
  height: 300px;
}

.foot {
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F9F9F9;
  text-decoration: none;
  border-bottom: 1px solid #A8A8A8;
}
.foot .one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: top;
  letter-spacing: 0.5px;
  line-height: 2.3;
  margin-bottom: 65px;
}
.foot .one .text {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.foot .one a {
  font-family: "Poppins-R";
  font-size: 15px;
  text-decoration: none;
  color: #272727;
}
.foot .one .black {
  font-size: 18px;
  font-family: "Poppins-B";
  color: black;
}
.foot .one .kartinka {
  margin-right: 50px;
  margin-top: 15px;
}
.foot .two {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 0.5px;
  line-height: 2.3;
}
.foot .two .black {
  font-size: 18px;
  font-family: "Poppins-B";
  color: black;
}
.foot .two a {
  font-family: "Poppins-R";
  font-size: 15px;
  text-decoration: none;
  color: #272727;
  transition: 0.5s all ease;
}
.foot .two a a:hover {
  transform: translateY(-5px);
}
.foot .tree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2.3;
  vertical-align: top;
}
.foot .tree .blacko {
  width: 100%;
  font-size: 18px;
  font-family: "Poppins-B";
  color: black;
  line-height: 1.6;
}
.foot .tree .blacko .black {
  width: 65%;
  height: 60px;
}
.foot .tree h3 {
  color: #6701BA;
  font-family: "Poppins-B";
  font-size: 32px;
}
.foot .tree .black {
  font-size: 18px;
  font-family: "Poppins-B";
  color: black;
}
.foot .tree a {
  font-family: "Poppins-R";
  font-size: 15px;
  text-decoration: none;
  color: #272727;
}
.foot .tree .pochta {
  width: 457px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.foot .tree .pochta .pochta_t {
  width: 237px;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  outline: none;
}
.foot .tree .pochta .email {
  width: 190PX;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #6701BA;
  color: white;
  transition: transform 0.3s ease;
  box-shadow: 2px 2px 4px #272727 95, 95, 95, 0.5;
}
.foot .tree .pochta .email p {
  width: 110px;
  border-left: 1px solid #FFFFFF;
}
.foot .tree .pochta .email:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 25px 1px rgba(0, 0, 0, 0.25);
}

.niz {
  width: 100%;
  height: 127px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F9F9F9;
}
.niz p {
  font-size: 15px;
  font-family: "Poppins-R";
  color: #A8A8A8;
}
.niz .sam_niz {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.niz .socsec {
  width: -moz-min-content;
  width: min-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.niz .socsec img {
  width: auto;
  transition: 0.5s all ease;
}
.niz .socsec img:hover {
  transform: translateY(-5px);
}/*# sourceMappingURL=style.css.map */